#school-verify{
    position: absolute;background: #fff;top: 0;right: 0;bottom: 0;left: 0;font-size:0.533333rem;display:flex;flex-direction:column;
    .header{
        height: 1.2rem;border-bottom:1px solid #333;display:flex;font-size:0.5rem;background: #0cf;color:#fff;
        i{width: 1.333333rem;text-align: center;line-height: 1.2rem;color:#fff;font-weight: normal;}
        h4{flex:1;text-align: center;line-height: 1.2rem;font-weight: normal;}
    }
    .main{
        flex:1;overflow: auto;font-size:0.426667rem;padding: 0.266667rem;
        .sel{
            position: relative;
            p{

                input{width: 5.333333rem;height: 0.8rem;font-size:0.373333rem;padding-left: 0.133333rem;}
                margin-bottom: 0.266667rem;
            }
            ul{
                position: absolute;left: 0.003333rem;top: 1.85rem;
                border:1px solid #666;max-height:6.666667rem;overflow: auto;background: #fff;
                li{
                    font-size:0.373333rem;padding:0.213333rem 0.266667rem;min-width:8.5rem;
                    span.schoolcity{color:#999;}
                }
            }
        }
        .upload_idcard{
            margin-bottom: 0.266667rem;
            p{margin-bottom: 0.133333rem;}
        }
        &>button{
            width: 95%;background: #0cf;line-height: 0.8rem;font-size:0.426667rem;text-align: center;border:0 none;border-radius:0.08rem;color:#fff;
        }
        .school_hint{
            margin-top: 0.133333rem;color:#0cf;
            span{color:#f00;}
        }
    }
}
.el-message-box{
    .el-message-box__title{font-size:0.40rem;}
    button.el-message-box__headerbtn{font-size:0.4rem;}
    .el-message-box__content{font-size:0.35rem;}
    button.el-button--primary{font-size:0.35rem;}
}