#M-about{
    position: absolute;background: #fff;top: 0;right: 0;bottom: 0;left: 0;font-size:0.533333rem;display:flex;flex-direction:column;
    .header{
        height: 1.2rem;border-bottom:1px solid #333;display:flex;font-size:0.5rem;background: #0cf;color:#fff;
        i{width: 1.333333rem;text-align: center;line-height: 1.2rem;color:#fff;font-weight: normal;}
        h4{flex:1;text-align: center;line-height: 1.2rem;font-weight: normal;}
    }
    .main{
        font-size:0.373333rem;
        img{margin: 0.533333rem auto 0.266667rem;}
        p.cyxing{text-align: center;font-size:0.48rem;color:#0cf;}
        p.introduce{padding: 0.4rem;color:#666;text-indent:2em;}
        .copyright{
            margin-top: 0.8rem;
            p{font-size:0.32rem;color:#999;text-align: center;line-height: 0.533333rem;}
        }
    }
}